main div.products-container {
    padding: 0 1.75rem 1.75rem;
}

main div.products-container a {
    color: var(--primary-font);
    text-decoration: none;
}

main button.add {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 500;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    margin: 2rem;
    border: none;
    border-radius: 100%;
    color: var(--color-background);
    background: var(--color-primary);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1;
    transition: 0.2s background;
}

main button.add:hover {
    background: var(--color-primary-hover);
}