div.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

div.dropdown div.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 10rem;
    margin-top: 0.5rem;
    background-color: var(--color-background);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

div.dropdown div.dropdown-content a {
    padding: 0.75rem 1rem;
    color: var(--secondary-font);
    display: block;
    cursor: pointer;
}

div.dropdown div.dropdown-content a:hover {
    background: rgb(221, 221, 221);
}